{% extends "layout.jinja" %}

{% block content %}

<main>
  <h1>Learning Flask WTForms</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione vel pariatur eius voluptatibus sequi numquam
  </p>
  <p>
    atque architecto, necessitatibus nemo ex facere asperiores accusamus quisquam quos laboriosam corporis eos, qui
    minus.
  </p>
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, inventore!</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis!</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis!</li>
    <li>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Reiciendis!</li>
  </ul>
</main>

{% endblock content %}