{% extends "layout.jinja" %}

{% block content %}

<main>
  <h1 style="text-align:center;">Sign up</h1>

  <form action="{{ url_for('signup') }}" method="POST">
    <section>
      {{form.first_name.label}}
      {{form.first_name()}}

      {% if form.first_name.errors %}
      {% for error in form.first_name.errors %}
      <p>{{error}}</p>
      {% endfor %}
      {% endif %}
    </section>
    <section>
      {{form.last_name.label}}
      {{form.last_name()}}
    </section>
    <section>
      {{form.email.label}}
      {{form.email()}}
    </section>
    <section>
      {{form.password.label}}
      {{form.password()}}
    </section>
    <section>
      {{form.confirm_password.label}}
      {{form.confirm_password()}}
    </section>
    <div>
      {{form.submit()}}
    </div>
  </form>
</main>

{% endblock content %}