{% extends "layout.jinja" %}

{% block content %}

<main>
  <h1 style="text-align:center;">Sign up</h1>

  <form action="{{ url_for('signup') }}" method="POST">
    <section>
      <label for="first_name">First Name</label>
      <input type="text" name="first_name" id="first_name" placeholder="enter your first_name" />
    </section>

    <section>
      <label for="last_name">Last Name</label>
      <input type="text" name="last_name" id="last_name" placeholder="enter your last_name" />
    </section>

    <section>
      <label for="username">Username</label>
      <input type="text" name="username" id="username" placeholder="enter your username" />
    </section>

    <section>
      <label for="email">Email</label>
      <input type="email" name="email" id="email" placeholder="enter your email" />
    </section>

    <section>
      <label for="password">Password</label>
      <input type="password" name="password" id="password" placeholder="enter your password" />
    </section>

    <section>
      <label for="confirm-password">Confirm Password</label>
      <input type="confirm-password" name="confirm-password" id="confirm-password"
        placeholder="enter your confirm-password" />
    </section>

    <section>
      <button type="submit">Sign up</button>
    </section>
  </form>
</main>

{% endblock content %}